* {
    outline: none !important;
}

body {
  background: #96c13c;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.wrap {
  background: white;
  color: black;
  width: 100%;
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
}

header {
  position: relative;
}

h2 {
  color: #91c78b;
  font-size: 40px;
  max-width: 900px;
  margin: 130px auto 20px;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 400;
}

img a {
  border: none !important;
}

.menu {
  margin: 0;
  padding: 0;
  background: #f8f8f0;
  text-align: right;
  padding-right: 60px;
}

.menu-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  background: #f8f8f0 url('../img/menu-open.png') left center no-repeat;
}

.menu-button.opened {
  background-image: url('../img/menu-close.png');
}

.menu li {
  display: inline-block;
  text-transform: uppercase;
  padding: 40px 0;
}

.menu a, .menu a:visited {
  color: #91c78b;
  text-decoration: none;
  padding: 40px 56px;
  font-size: 32px;
  font-weight: 400;
}

.logo {
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 45px;
}

.panel {
  background-position: center center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  font-weight: 400;
  line-height: 1.4;
}

.panel--carrot {
  background: url('../img/foto-mrkev.jpg');
}

.panel--beet {
  background: url('../img/foto-repa.jpg');
}

.panel__overlay {
  padding: 100px 0 50px;
  background: rgba(0, 0, 0, 0.5);
}

.panel p {
  padding: 0 10px;
  max-width: 640px;
  margin: 0 auto 50px;
}

.carousel {
  align-content: center;
  width: 100%;
  display: flex;
  justify-content: center;

  margin-bottom: 130px;
}

.carousel__button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.slide {
  text-align: center;
  padding: 0 40px;
}

.slide a {
  color: black;
  text-decoration: none;
}

.slide__text {
  font-size: 24px;
  padding: 10px;
  line-height: 1.2;
}

.slick-track {
  display: flex;
}

.slick-list {
  max-width: 900px;
  overflow: hidden;
}

.slick-disabled img {
  visibility: hidden;
}

.gallery {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 10px;
  margin-bottom: 80px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
  width: calc(33.333% - 10px);
}

.grid-item {
  float: left;
  margin-bottom: 10px;
}

.grid-item img {
  display: block;
  width: 100%;
}

.contact {
  width: 100%;
  max-width: 900px;
  margin: 130px auto 0;
  padding-bottom: 130px;
  display: flex;
}

.contact-column {
  flex: 0 1 30%;
  padding-left: 50px;
}

.contact-column1 {
  flex: 0 1 20%;
  padding-left: 20px;
}

.contact h2 {
  margin: 0;
}

.contact p {
  font-size: 20px;
  line-height: 1.2;
  margin: 10px 0 20px;
}

.contact-column3 p {
  line-height: 67px;
}

.contact-column3 img {
  vertical-align: middle;
}

form {
  display: flex;
  max-width: 350px;
}

form input {
  height: 28px;
  border: 1px solid black;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 1px 5px;
}

form button {
  border: 0;
  padding: 0;
  height: 32px;
}

@media (max-width: 1100px) {
  .menu li {  padding: 32px 0;  }
  .menu a {  padding: 32px; font-size: 26px; }
}

@media (max-width: 860px) {
  .logo img { width: 150px; }
  .menu { padding-right: 0; }
  .menu a { padding: 20px; }
}

@media (min-width: 641px) {
  .menu {
    display: block !important;
  }
}

@media (max-width: 640px) {
  .menu-button {
    display: block;
  }
  .menu {
    display: none;
  }
  header {
    height: 60px;
    width: 100%;
    background: #f8f8f0;
  }
  .logo {
    left: 50%;
    transform: translateX(-50%);
  }
  .logo img {
    width: 150px;
  }
  .menu {
    position: absolute;
    top: 60px;
    right: 0;
  }
  .menu li {
    padding: 10px 0;
    display: block;
    text-align: left;
  }
}

@media (max-width: 420px) {
  .logo img {
    width: 100px;
  }
}

@media (max-width: 660px) {
  .panel {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;
  }
  .panel__overlay {
    padding: 75px 30px 20px;
  }

  .panel p.title{
    font-size: 26px;
    margin: 0 auto 20px;
  }
}

@media (max-width: 450px) {
  .panel {
    font-size: 20px;
  }
}

@media (max-width: 640px) {
  h2 {
    color: #91c78b;
    font-size: 32px;
    max-width: 900px;
    margin: 30px auto 20px;
  }
  .slide__text {
    font-size: 22px;
  }
  .carousel, .gallery {
    margin-bottom: 30px;
  }
  .contact {
    margin-top: 30px;
    display: block;
    padding-bottom: 30px;
  }
  .contact-column {
    padding: 0 20px;
  }
  .contact-column h2 {
    padding: 0;
  }
}
